div.main-body {
    display: grid;
    grid-template-columns: minmax(300px, auto) 1fr;
    grid-template-areas: "navbar mainContent";
    grid-gap: 20px;
	background-color: #DCF2F1;
	padding: 20px;

}

nav#navbar {
    grid-area: navbar;
    position: fixed;
}

nav#navbar a {
    display: block;
    border: 1px solid black;
    padding: 5px;
    margin: 10px 0;
    text-decoration: none;
    color: #DCF2F1;
    background-image: none; /* Initial background image */
    transition: background-image 0.3s ease; /* Smooth transition */
	background-color: #365486;
}


main#main-doc {
    grid-area: mainContent;
}

header {
    font-size: 1.5rem;
    font-weight: bold;
}

code {
    background-color: #365486;
    display: block;
    padding: 20px;
	color: white;
	
}

p.main-paragraph {
    color: #0F1035;
}

header, nav#navbar a {
    font-family: 'Roboto Mono', monospace;
	font-style: italic;  /* Applying Roboto Mono font */
    /* Additional styling if needed */
}